<header class="header">
	<img class="header-img" src="{{user.icon}}" alt="" />
	<h1 class="header-title">{{user.name}}</h1>
	<nav class="header-nav">
		<a class="nav-link" href="#projects">Projects</a>
		<span>•</span>
		<a class="nav-link" href="#hobbies">Hobbies</a>
		<span>•</span>
		<a class="nav-link" href="#travels">Travels</a>
		<span>•</span>
		<a class="nav-link" href="#contact">Contact</a>
	</nav>
	<div class="header-flags">
		{% for flag in user.flags %}
		<img src="{{flag.icon}}" alt="Flag of {{flag.name}}" />
		{% endfor %}
	</div>
</header>
