{% from "./blocks/project.html" import project with context %}
<!-- : -->
{% extends "./layout/base.html" %}
<!-- : -->
{% block body %}
<h3 id="about me">About Me:</h3>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti maiores,
	voluptatum distinctio consequuntur voluptas incidunt repudiandae harum
	aliquid illo autem. Praesentium sit cumque obcaecati, facere at modi quod
	dicta magni.
</p>
<p>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti maiores,
	voluptatum distinctio consequuntur voluptas incidunt repudiandae harum
	aliquid illo autem. Praesentium sit cumque obcaecati, facere at modi quod
	dicta magni.
</p>
<h3 id="projects">Projects:</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
<div class="projects">
	{% for data in user.projects %} {{project(data)}} {% endfor %}
</div>
<h3 id="hobbies">Hobbies:</h3>
<div class="hobby-details">
	<div>
		<img class="left-image" src="https://i.umai.pw/OswU-K" alt="book" />
		<p class="left-summary">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
			maiores, voluptatum distinctio consequuntur voluptas incidunt
			repudiandae harum aliquid illo autem.
		</p>
	</div>
	<div>
		<img
			class="middle-image"
			src="https://i.umai.pw/p1zqp2"
			alt="traveling"
		/>
		<p class="middle-summary">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
			maiores, voluptatum distinctio consequuntur voluptas incidunt
			repudiandae harum aliquid illo autem.
		</p>
	</div>
	<div>
		<img
			class="right-image"
			src="https://i.umai.pw/gofOne"
			alt="basketball"
		/>
		<p class="right-summary">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
			maiores, voluptatum distinctio consequuntur voluptas incidunt
			repudiandae harum aliquid illo autem.
		</p>
	</div>
</div>
<h3 id="travels">Places I've Been:</h3>
<br />
<img src="https://i.umai.pw/ce43Xa.svg" alt="map" />
<div id="bottom"></div>
&nbsp;
<!-- * About    * -->
<!-- * Projects * -->
<!-- * Hobbies  * -->
<!-- * Travels  * -->
{% endblock %}
