@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
	font-family: "Poppins", sans-serif;
}

body {
	padding: 2em;
}

/** MAIN CONTENT STYLES **/
main {
	max-width: 720px;
	margin: 2em auto;
}

main > p {
	margin-top: 1.25em;
	margin-bottom: 2em;
}

main > img {
	margin-top: 1.25em;
	margin-bottom: 2em;
}

/** HEADER **/
.header {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
}

.header-img {
	object-fit: cover;
	width: 7em;
	height: 7em;
	border-radius: 0.25em;
}

.header-title {
	margin: 0.35em 0;
}

.header-nav {
	display: flex;
	flex-direction: row;
}

.header-nav > span {
	margin: 0 0.5em;
	color: hsl(357, 62%, 59%);
}

.header-nav > .nav-link {
	color: hsl(0, 0%, 0%);
	text-decoration: none;
	font-weight: 500;
}

.header-nav > .nav-link:hover {
	text-decoration: underline;
	text-decoration-style: double;
}

.header-flags {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: row;
}

.header-flags > img {
	width: 2em;
	height: auto;
	margin-left: 1em;
}

.header-socials {
	position: fixed;
	left: 2em;
	display: flex;
	flex-direction: column;
}

.header-socials > a > img {
	width: 1.35em;
	height: auto;
	margin-bottom: 2em;
}

@media screen and (max-width: 960px) {
	.header-socials {
		display: none;
	}
}

/** FOOTER **/
.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-line {
	width: 30%;
	height: 1.5px;
	background: black;
}

.footer-nav {
	display: flex;
	flex-direction: row;
}

.footer-nav > .nav-link {
	color: hsl(0, 0%, 0%);
	text-decoration: underline;
	text-decoration-color: hsl(357, 62%, 59%);
	font-weight: 500;
	margin: 2.5em 2em;
}

.footer-nav > .info-link:hover {
	text-decoration: underline;
	text-decoration-color: black;
}

.footer-return {
	margin-top: 2.5em;
	color: black;
	text-decoration: none;
}

.footer-return:hover {
	text-decoration: underline;
}

/** PROJECT MACRO **/
.projects {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	margin: 1.5em 0;
}

.project {
	background-color: #d9d9d9;
	color: inherit;
	padding: 0.75em;
	display: flex;
	flex-direction: column;
	border-radius: 0.5em;
	text-decoration: none;
	transition: all 150ms linear 0s;
}

.project:hover {
	filter: brightness(85%);
}
.project-name {
	font-weight: 600;
}

.project > p {
	font-size: 0.88em;
	margin: 0.5em 0;
}

.project-about {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.project-dot {
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.project-lang {
	font-family: monospace;
	margin-left: 0.5em;
	font-size: 0.9em;
}
