@charset "UTF-8";
.markdown {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 1em;
	line-height: 1.625em;
	text-align: left;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
	font-weight: bold;
}
.markdown h1 {
	font-size: 4.25em;
	line-height: 1.14706em;
	margin-top: 0.76471em;
	margin-bottom: 0.38235em;
}
.markdown h2 {
	font-size: 2.625em;
	line-height: 1.2381em;
	margin-top: 1.2381em;
	margin-bottom: 0.61905em;
	border-bottom: 1px solid #b1b1b1;
	padding-bottom: 0.25em;
}
.markdown h3 {
	font-size: 1.625em;
	line-height: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}
.markdown h4,
.markdown h5,
.markdown h6 {
	font-size: 1em;
	line-height: 1.625em;
	margin-top: 1.625em;
	margin-bottom: 1.625em;
	font-weight: bold;
	text-transform: uppercase;
}
.markdown b,
.markdown strong,
.markdown em,
.markdown small,
.markdown code {
	line-height: 1.625em;
}
.markdown sup,
.markdown sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.markdown sub {
	top: 0.4em;
}
.markdown p {
	color: #33373a;
}
.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
	margin-top: 1.625em;
	margin-bottom: 1.625em;
}
.markdown ul,
.markdown ol {
	padding: 0 0 0 1.5em;
}
.markdown ul ul,
.markdown ul ol,
.markdown ol ul,
.markdown ol ol {
	margin: 0 0 1em 1em;
	padding: 0 0 0 1em;
}
.markdown aside {
	display: block;
	float: right;
	width: 390px;
}
.markdown a {
	color: #0e6493;
	margin: 0;
	padding: 0;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-decoration: underline;
}
.markdown a:hover {
	text-decoration: none;
	color: #0e6493;
}
.markdown a:visited {
	color: #0e6493;
}
.markdown li {
	line-height: 1.5em;
}
.markdown dt {
	font-weight: bold;
}
.markdown dd {
	font-style: italic;
	margin-left: 1em;
}
.markdown table {
	border-collapse: collapse;
	border-spacing: 0px;
}
.markdown td,
.markdown th {
	padding: 0.5em 0.75em;
	vertical-align: top;
}
.markdown thead,
.markdown th {
	border-bottom: 2px solid #b1b1b1;
}
.markdown tr {
	border-bottom: 1px solid #b1b1b1;
}
.markdown tr:last-of-type {
	border: none;
}
.markdown pre {
	margin: 0;
}
.markdown pre,
.markdown code {
	font-size: 14px;
	line-height: 20px;
}
.markdown pre code,
.markdown .code {
	width: 100%;
	padding: 0.5em 0.75em;
}
.markdown code,
.markdown .highlighttable {
	display: inline-block;
	border: 1px solid #b1b1b1;
	background: #f5f5f5;
	font-family: Consolas, Monaco, Andale Mono, monospace;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.markdown code pre,
.markdown .highlighttable pre {
	font-family: Consolas, Monaco, Andale Mono, monospace;
}
.markdown code tr,
.markdown .highlighttable tr {
	border-bottom: none;
}
.markdown code td,
.markdown .highlighttable td {
	vertical-align: top;
}
.markdown code td.linenos,
.markdown .highlighttable td.linenos {
	border-right: 1px solid #b1b1b1;
	color: #888888;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	padding: 0.5em;
}
.markdown code td.linenos pre,
.markdown .highlighttable td.linenos pre {
	padding: 0;
	background: transparent;
}
.markdown .fenced-code {
	overflow: auto;
	padding-bottom: 1em;
}
.markdown blockquote {
	padding: 0 0.75em;
	margin: 1em 0.75em;
	border-left: 3px solid #33373a;
}
.markdown blockquote p {
	font-style: italic;
	color: #777777;
}
.markdown blockquote,
.markdown cite {
	color: #777777;
}
.markdown blockquote cite:before {
	content: "— ";
}
.markdown img {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 auto 1em;
	padding: 0;
}
.markdown hr {
	border: none;
	height: 1px;
	margin: 2em auto 2em;
	background: #b1b1b1;
}

code > span {
	font-family: "JetBrains Mono" !important;
	font-weight: 400;
	line-height: 1.3px;
}

.markdown-body .highlight pre,
.markdown-body pre {
	background-color: #282c34;
}

.highlight .hll {
	background-color: #ffffcc;
}
.highlight {
	/* background: #282c34; */
	color: #abb2bf;
}
.highlight .c {
	color: #7f848e;
} /* Comment */
.highlight .err {
	color: #abb2bf;
} /* Error */
.highlight .esc {
	color: #abb2bf;
} /* Escape */
.highlight .g {
	color: #abb2bf;
} /* Generic */
.highlight .k {
	color: #c678dd;
} /* Keyword */
.highlight .l {
	color: #abb2bf;
} /* Literal */
.highlight .n {
	color: #e06c75;
} /* Name */
.highlight .o {
	color: #56b6c2;
} /* Operator */
.highlight .x {
	color: #abb2bf;
} /* Other */
.highlight .p {
	color: #abb2bf;
} /* Punctuation */
.highlight .ch {
	color: #7f848e;
} /* Comment.Hashbang */
.highlight .cm {
	color: #7f848e;
} /* Comment.Multiline */
.highlight .cp {
	color: #7f848e;
} /* Comment.Preproc */
.highlight .cpf {
	color: #7f848e;
} /* Comment.PreprocFile */
.highlight .c1 {
	color: #7f848e;
} /* Comment.Single */
.highlight .cs {
	color: #7f848e;
} /* Comment.Special */
.highlight .gd {
	color: #abb2bf;
} /* Generic.Deleted */
.highlight .ge {
	color: #abb2bf;
} /* Generic.Emph */
.highlight .gr {
	color: #abb2bf;
} /* Generic.Error */
.highlight .gh {
	color: #abb2bf;
} /* Generic.Heading */
.highlight .gi {
	color: #abb2bf;
} /* Generic.Inserted */
.highlight .go {
	color: #abb2bf;
} /* Generic.Output */
.highlight .gp {
	color: #abb2bf;
} /* Generic.Prompt */
.highlight .gs {
	color: #abb2bf;
} /* Generic.Strong */
.highlight .gu {
	color: #abb2bf;
} /* Generic.Subheading */
.highlight .gt {
	color: #abb2bf;
} /* Generic.Traceback */
.highlight .kc {
	color: #e5c07b;
} /* Keyword.Constant */
.highlight .kd {
	color: #c678dd;
} /* Keyword.Declaration */
.highlight .kn {
	color: #c678dd;
} /* Keyword.Namespace */
.highlight .kp {
	color: #c678dd;
} /* Keyword.Pseudo */
.highlight .kr {
	color: #c678dd;
} /* Keyword.Reserved */
.highlight .kt {
	color: #e5c07b;
} /* Keyword.Type */
.highlight .ld {
	color: #abb2bf;
} /* Literal.Date */
.highlight .m {
	color: #d19a66;
} /* Literal.Number */
.highlight .s {
	color: #98c379;
} /* Literal.String */
.highlight .na {
	color: #e06c75;
} /* Name.Attribute */
.highlight .nb {
	color: #e5c07b;
} /* Name.Builtin */
.highlight .nc {
	color: #e5c07b;
} /* Name.Class */
.highlight .no {
	color: #e06c75;
} /* Name.Constant */
.highlight .nd {
	color: #61afef;
} /* Name.Decorator */
.highlight .ni {
	color: #e06c75;
} /* Name.Entity */
.highlight .ne {
	color: #e06c75;
} /* Name.Exception */
.highlight .nf {
	color: #61afef;
	font-weight: bold;
} /* Name.Function */
.highlight .nl {
	color: #e06c75;
} /* Name.Label */
.highlight .nn {
	color: #e06c75;
} /* Name.Namespace */
.highlight .nx {
	color: #e06c75;
} /* Name.Other */
.highlight .py {
	color: #e06c75;
} /* Name.Property */
.highlight .nt {
	color: #e06c75;
} /* Name.Tag */
.highlight .nv {
	color: #e06c75;
} /* Name.Variable */
.highlight .ow {
	color: #56b6c2;
} /* Operator.Word */
.highlight .p-Marker {
	color: #abb2bf;
} /* Punctuation.Marker */
.highlight .w {
	color: #abb2bf;
} /* Text.Whitespace */
.highlight .mb {
	color: #d19a66;
} /* Literal.Number.Bin */
.highlight .mf {
	color: #d19a66;
} /* Literal.Number.Float */
.highlight .mh {
	color: #d19a66;
} /* Literal.Number.Hex */
.highlight .mi {
	color: #d19a66;
} /* Literal.Number.Integer */
.highlight .mo {
	color: #d19a66;
} /* Literal.Number.Oct */
.highlight .sa {
	color: #98c379;
} /* Literal.String.Affix */
.highlight .sb {
	color: #98c379;
} /* Literal.String.Backtick */
.highlight .sc {
	color: #98c379;
} /* Literal.String.Char */
.highlight .dl {
	color: #98c379;
} /* Literal.String.Delimiter */
.highlight .sd {
	color: #98c379;
} /* Literal.String.Doc */
.highlight .s2 {
	color: #98c379;
} /* Literal.String.Double */
.highlight .se {
	color: #98c379;
} /* Literal.String.Escape */
.highlight .sh {
	color: #98c379;
} /* Literal.String.Heredoc */
.highlight .si {
	color: #98c379;
} /* Literal.String.Interpol */
.highlight .sx {
	color: #98c379;
} /* Literal.String.Other */
.highlight .sr {
	color: #98c379;
} /* Literal.String.Regex */
.highlight .s1 {
	color: #98c379;
} /* Literal.String.Single */
.highlight .ss {
	color: #98c379;
} /* Literal.String.Symbol */
.highlight .bp {
	color: #e5c07b;
} /* Name.Builtin.Pseudo */
.highlight .fm {
	color: #56b6c2;
	font-weight: bold;
} /* Name.Function.Magic */
.highlight .vc {
	color: #e06c75;
} /* Name.Variable.Class */
.highlight .vg {
	color: #e06c75;
} /* Name.Variable.Global */
.highlight .vi {
	color: #e06c75;
} /* Name.Variable.Instance */
.highlight .vm {
	color: #e06c75;
} /* Name.Variable.Magic */
.highlight .il {
	color: #d19a66;
} /* Literal.Number.Integer.Long */
