<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="title" content="Alexis Vielma">
		<meta name="description" content="KU '25 — B.Sc. CS">
		<meta name="author" content="Alexis Vielma">
		<meta name="robots" content="index, follow">

		<title>{{ title }}</title>

		<link
			rel="stylesheet"
			href="{{url_for('static', filename='/styles/resets.css')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='/styles/styles.css')}}"
		/>
	</head>
	<body>
		<div class="wrapper">
			{% include "./blocks/header.html" %}
			<main class="content--flex">
				<section class="hero">
					<h1 class="hero__title">{{ title }};</h1>
					{% block details %}{% endblock %}
				</section>
				{% block body %}{% endblock %}
			</main>
			{% include "./blocks/footer.html" %}
		</div>
	</body>
</html>
