<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-light.min.css" integrity="sha512-zb2pp+R+czM7GAemdSUQt6jFmr3qCo6ikvBgVU6F5GvwEDR0C2sefFiPEJ9QUpmAKdD5EqDUdNRtbOYnbF/eyQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<!-- TODO: Add more meta tags & head macro (?) -->
		<title>{{ title }}</title>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='/styles/resets.css')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='/styles/global.css')}}"
		/>
	</head>
	<body id="app">
		{% include "./blocks/header.html" %}
		<main>{% block body %} {% endblock %}</main>
		{% include "./blocks/footer.html" %}
	</body>
</html>
