<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="title" content="Alexis Vielma">
		<meta name="description" content="KU '25 — B.Sc. CS">
		<meta name="author" content="Alexis Vielma">
		<meta name="robots" content="index, follow">

		<title>{{ title }}</title>

		<script>
			const root = document.querySelector(":root");
			const dark = localStorage.getItem("dark");

			if (dark) {
				root.toggleAttribute("dark", dark == "true")
			}

			window.addEventListener("load", () => {
				const [moon, sun] = document.querySelectorAll(".theme__icon");

				if (dark == "true") {
					sun.toggleAttribute("hidden");
				} else {
					moon.toggleAttribute("hidden");
				}

				const btn = document.querySelector(".theme__toggle");

				btn.addEventListener("click",  () => {
					root.toggleAttribute("dark");

					moon.toggleAttribute("hidden");
					sun.toggleAttribute("hidden");

					localStorage.setItem("dark", root.hasAttribute("dark"));
				});
			})

			window
				.matchMedia('(prefers-color-scheme: dark)')
				.addEventListener('change', ({ matches: isDark }) => {
					if (!theme) {
						localStorage.setItem("dark", isDark);
						root.toggleAttribute("dark", isDark)
					}
				})
		</script>

		<link
			rel="stylesheet"
			href="{{url_for('static', filename='/styles/resets.css')}}"
		/>
		<link
			rel="stylesheet"
			href="{{url_for('static', filename='/styles/styles.css')}}"
		/>
	</head>
	<body>
		<div class="wrapper">
			{% include "./blocks/header.html" %}
			<main class="content--flex">
				<section class="hero">
					<h1 class="hero__title">{{ title }};</h1>
					{% block details %}{% endblock %}
				</section>
				{% block body %}{% endblock %}
			</main>
			{% include "./blocks/footer.html" %}
		</div>
	</body>
</html>
